{
    "extension": [
        ".ts",
        ".tsx"
    ],
    "exclude": [
        "**/*.d.ts",
        "**/*.spec.ts",
        "dist",
        "coverage",
        "index.js"
    ],
    "reporter": [
        "html"
    ],
    "all": true
}
